
@{
    ViewBag.Title = "ProjectInterior";
    Layout = "~/Views/Shared/_LayoutInterior.cshtml";
}
<style>
    .if-zoom .image_frame .image_wrapper .image_links {
        display: unset;
    }

    img.scale-with-grid, #Content img {
        height: 251px;
    }

    .image_frame .image_wrapper .image_links, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
        background: rgba(26, 93, 157, 0.80);
    }

        .image_frame .image_wrapper .image_links a:hover {
            background: #ffffff;
            color: rgba(26, 93, 157, 0.80) !important;
        }
</style>
<div class="sections_group">
    <div class="entry-content">
        <div class="section full-width center dark flv_sections_53" style="background-image: url(../../assets/PlaneraInterior/images/projects.png);background-size: cover;background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
            <div class="section_wrapper clearfix">
                <div class="items_group clearfix"></div>
                <h2 class="mobView" style="opacity: 0.5;    font-size: 83.5px;    font-weight: bold;    font-style: normal;    color: rgba(255, 255, 255, 0.5);" data-translate="0prj01">
                    Projects
                </h2>
            </div>
        </div>

    </div>
</div>
<div class="section mcb-section" style="padding-top:80px; padding-bottom:40px; background-color:black">
    <div class="section_wrapper clearfix">
        <!-- One full width row-->
        <div id="Filters" class="column one isotope-filters">
            <ul class="filters_buttons">
                <li class="label" data-translate="0fb01">
                    Filter by
                </li>
                <li class="categories">
                    <a class="open" href="#" data-translate="00h7"><i class="icon-docs"></i>Categories<i class="icon-down-dir"></i></a>
                </li>
                <li class="reset">
                    <a class="close" data-rel="*" href="#" data-translate="0sa01"><i class="icon-cancel"></i> Show all</a>
                </li>
            </ul>
            <div class="filters_wrapper" style="display: block;">
                <ul class="categories">
                    <li class="current-cat">
                        <a data-rel=".category-home" href="#" data-translate="0liv1">Living</a>
                    </li>
                    <li>
                        <a data-rel=".category-appartment" href="#" data-translate="0app1">Appartment</a>
                    </li>
                    <li>
                        <a data-rel=".category-shop" href="#" data-translate="0shp1">Shop</a>
                    </li>
                    <li>
                        <a data-rel=".category-photography" href="#" data-translate="0off1">Office</a>
                    </li>
                    @*<li>
                            <a data-rel=".category-print" href="#">Category 5</a>
                        </li>
                        <li>
                            <a data-rel=".category-webdesign" href="#">Category 6</a>
                        </li>*@
                    <li class="close">
                        <a href="#"><i class="icon-cancel"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column one column_portfolio">
            <div class="portfolio_wrapper isotope_wrapper">
                <ul class="portfolio_group lm_wrapper isotope grid">
                    <!-- Portfolio item -->
                    @foreach (var item in ViewBag.Project)
                    {
                        <li class="portfolio-item isotope-item category-home category-appartment  ">
                            <div class="portfolio-item-fw-bg">
                                <div class="portfolio-item-fw-wrapper">
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                          
                                            <a href="@System.Configuration.ConfigurationManager.AppSettings["Image"].ToString()@item.ImagePath" class="zoom" rel="prettyphoto">
                                                <div class="mask"></div>
                                                <img width="650" height="650px" src="@System.Configuration.ConfigurationManager.AppSettings["Image"].ToString()@item.ImagePath" alt="@item.Title" class="scale-with-grid wp-post-image">
                                            </a>
                                            <div class="image_links">
                                                <a href="@System.Configuration.ConfigurationManager.AppSettings["Image"].ToString()@item.ImagePath" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <div class="title_wrapper">
                                            @if (HttpContext.Current.Request.Cookies["lang"].Value == "en")
                                            {
                                                <h5 class="entry-title"><a href="">@item.Title</a></h5>
                                            }
                                            else
                                            {
                                                <h5 class="entry-title"><a href="">@item.ArabicTitle</a></h5>
                                            }
                                        </div>
                                        <div class="desc-wrapper"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-shop category-photography ">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/atyab-almarshod-p3.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/atyab-almarshod-p3.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/PlaneraInterior/images/atyab-almarshod-p3.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="">Atyab Almarshod</a></h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home category-appartment">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/project1.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/project1.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/project1.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/project1.jpg" class="zoom" rel="prettyphoto">Home Floor</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home category-photography category-appartment">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/buhair1-p4.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/buhair1-p4.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/PlaneraInterior/images/buhair1-p4.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/buhair1-p4.jpg" class="zoom" rel="prettyphoto">Buhair #1</a></h5>
                                    </div>
                                    <div class="details-wrapper">

                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home category-photography category-appartment">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/buhair2-p5.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/buhair2-p5.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/buhair2-p5.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/buhair2-p5.jpg" class="zoom" rel="prettyphoto">Buhair #2</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-appartment category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/dubai-appartment-p5.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/dubai-appartment-p5.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links ">
                                            <a href="~/assets/PlaneraInterior/images/dubai-appartment-p5.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="" class="link"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/dubai-appartment-p5.jpg" class="zoom" rel="prettyphoto">Dubai Apartment</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-appartment category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/durrah-p6.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/durrah-p6.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/durrah-p6.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/durrah-p6.jpg" class="zoom" rel="prettyphoto">Durrah</a></h5>
                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home category-appartment category-photography">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/janabiya-landscape-p6.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/janabiya-landscape-p6.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/janabiya-landscape-p6.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/janabiya-landscape-p6.jpg" class="zoom" rel="prettyphoto">Janabiya Landscape</a></h5>
                                    </div>
                                    <div class="details-wrapper">

                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>-->
                    <!-- Portfolio item -->
                    <!--<li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/kitchen-p7.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/kitchen-p7.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/kitchen-p7.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/kitchen-p7.jpg" class="zoom" rel="prettyphoto">Kitchen</a></h5>

                                    </div>
                                    <div class="details-wrapper">
                                    </div>
                                    <div class="desc-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/bahrain-bay-office-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/bahrain-bay-office-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/bahrain-bay-office-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/bahrain-bay-office-big.jpg" class="zoom" rel="prettyphoto">Bahrain Bay Office</a></h5>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/bedroom1-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/bedroom1-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/bedroom1-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/bedroom1-big.jpg" class="zoom" rel="prettyphoto">bedroom</a></h5>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/bedroom-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/bedroom-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/bedroom-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/bedroom-big.jpg" class="zoom" rel="prettyphoto">Bedroom</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/boy-bedroom1-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/boy-bedroom1-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/boy-bedroom1-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/boy-bedroom1-big.jpg" class="zoom" rel="prettyphoto">Boy Bedroom</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/boy-bedroom2-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/boy-bedroom2-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/boy-bedroom2-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/boy-bedroom2-big.jpg" class="zoom" rel="prettyphoto">Boy Bedroom</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/boy-bedroom-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/boy-bedroom-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/boy-bedroom-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/boy-bedroom-big.jpg" class="zoom" rel="prettyphoto">Boy Bedroom</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/kitchen-p7.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/kitchen-p7.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/kitchen-p7.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/kitchen-p7.jpg" class="zoom" rel="prettyphoto">Kitchen</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/buhair2-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/buhair2-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/buhair2-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/buhair2-big.jpg" class="zoom" rel="prettyphoto">Buhair</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/buhair-garden-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/buhair-garden-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/buhair-garden-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/buhair-garden-big.jpg" class="zoom" rel="prettyphoto">Buhair Garden</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/closet-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/closet-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/closet-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/closet-big.jpg" class="zoom" rel="prettyphoto">Closet Big</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/dana-toilet-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/dana-toilet-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/dana-toilet-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/dana-toilet-big.jpg" class="zoom" rel="prettyphoto">Dana Toilet Big</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/durrah-pantery-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/durrah-pantery-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/durrah-pantery-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/durrah-pantery-big.jpg" class="zoom" rel="prettyphoto">Durrah Pantery</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/exterior-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/exterior-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/exterior-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/exterior-big.jpg" class="zoom" rel="prettyphoto">Exterior</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/garden1-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/garden1-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/garden1-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/garden1-big.jpg" class="zoom" rel="prettyphoto">Garden</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/garden2-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/garden2-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/garden2-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/garden2-big.jpg" class="zoom" rel="prettyphoto">Garden</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/garden-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/garden-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/garden-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/garden-big.jpg" class="zoom" rel="prettyphoto">Garden</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/girl-bathroom1-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/girl-bathroom1-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/girl-bathroom1-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/girl-bathroom1-big.jpg" class="zoom" rel="prettyphoto">Girl Bathroom</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/girl-bathroom-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/girl-bathroom-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/girl-bathroom-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/girl-bathroom-big.jpg" class="zoom" rel="prettyphoto">Girl Bathroom</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/islamic-bathroom-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/islamic-bathroom-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/islamic-bathroom-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/islamic-bathroom-big.jpg" class="zoom" rel="prettyphoto">Islamic Bathroom</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/islamic-bedroom-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/islamic-bedroom-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/islamic-bedroom-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/islamic-bedroom-big.jpg" class="zoom" rel="prettyphoto">Islamic Bedroom</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/iziq-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/iziq-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/iziq-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/iziq-big.jpg" class="zoom" rel="prettyphoto">Iziq</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/janabiya-exterior-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/janabiya-exterior-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/janabiya-exterior-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/janabiya-exterior-big.jpg" class="zoom" rel="prettyphoto">Janabiya Exterior</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/kids-room-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/kids-room-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/kids-room-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/kids-room-big.jpg" class="zoom" rel="prettyphoto">Kids Room</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/landscape1-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/landscape1-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/landscape1-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/landscape1-big.jpg" class="zoom" rel="prettyphoto">Landscape</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/landscape-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/landscape-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/landscape-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/landscape-big.jpg" class="zoom" rel="prettyphoto">Landscape</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/living-room-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/living-room-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/living-room-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/living-room-big.jpg" class="zoom" rel="prettyphoto">Living Room</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/lobby1-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/lobby1-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/lobby1-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/lobby1-big.jpg" class="zoom" rel="prettyphoto">Lobby</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/lobby-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/lobby-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/lobby-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/lobby-big.jpg" class="zoom" rel="prettyphoto">Lobby</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/majlis1-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/majlis1-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/majlis1-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/majlis1-big.jpg" class="zoom" rel="prettyphoto">Majlis</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/majlis-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/majlis-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/majlis-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/majlis-big.jpg" class="zoom" rel="prettyphoto">Majlis</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/master-bedroom-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/master-bedroom-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/master-bedroom-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/master-bedroom-big.jpg" class="zoom" rel="prettyphoto">Master Bedroom</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">
                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/reading-corner-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/reading-corner-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/reading-corner-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/reading-corner-big.jpg" class="zoom" rel="prettyphoto">Reading Corner</a></h5>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="portfolio-item isotope-item category-home">
                        <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fw-wrapper">

                                <div class="image_frame scale-with-grid">
                                    <div class="image_wrapper">
                                        <a href="~/assets/PlaneraInterior/images/spa-big.jpg" class="zoom" rel="prettyphoto">
                                            <div class="mask"></div><img width="640" height="500" src="~/assets/PlaneraInterior/images/spa-big.jpg" class="scale-with-grid wp-post-image" />
                                        </a>
                                        <div class="image_links  ">
                                            <a href="~/assets/PlaneraInterior/images/spa-big.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <div class="title_wrapper">
                                        <h5 class="entry-title"><a href="~/assets/PlaneraInterior/images/spa-big.jpg" class="zoom" rel="prettyphoto">Spa</a></h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section mcb-section" style="padding-top:50px; padding-bottom:50px">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one valign-top clearfix">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix align_center" style="background-image: url('../../assets/PlaneraInterior/images/home_architect3_about3.png'); background-repeat: no-repeat; background-position: right bottom; padding: 80px 20% 65px; border: 20px solid #1f438f; border-radius: 6px">
                        <h3 style="font-weight: 300" data-translate="0yh01">Your home should tell the story of who you are, and be a collection of what you love</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('#projectpage').css("background", "rgba(238 ,238 ,238 ,0.4)");
    })
</script>